# Node.js
node_modules/

# Build output
dist/*
!dist/manifest.json
!dist/context_scripts
build/

# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Thumbnails
._*

# Logs
npm-debug.log*

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
