.field-header {
    color: #5E636E;
    font-size: 11pt;
    margin-top: 10px;
    margin-left: 5px;
  }

.field-item-wrapper {
    background-color: #34373D;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: calc(100vw - 10px);
    height: 56px;
    display: grid;
    grid-template-columns: calc(50vw - 5px) calc(50vw - 5px);
    justify-items: flex-start;
    align-items: center;
}

.field-item-label{
    font-size: 13pt;
    margin-left: 5%;
}

.field-item-input{
    background-color: #5E636E;
    font-size: 13pt;
    height: calc(60% - 3px);
    padding-top: 3px;
    width: 90%;
    text-align: left;
    text-indent: 5%;   
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 4px;   
}


