.title-bar {
    background-color: #34373D;
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.title {
    font-weight: bold;
    margin-top: 6px;
}