@tailwind base;
@tailwind components;
@tailwind utilities;

@import './Switch.css';

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  }

html {
  border-radius: 8px;
}

body {
  background-color: #111113;
  width: 360px;
  height: 600px;
}